a.moarTLSUnsecure {
  background: rgba(222, 106, 106, 0.6) !important;
  border-radius: 6px;
  border: 2px solid #DC0000;
  padding: 4px 4px 4px 4px;
  margin: 2px 2px 2px 2px;
  transition: background 1s ease;
}

a.moarTLSUnsecure img {
 -webkit-filter:sepia(1) hue-rotate(290deg);
}

body.moarTLSUnsecure {
  background: rgba(222, 106, 106, 0.5) !important;
  transition: background 1s ease;
}

form.moarTLSUnsecure {
  background: rgba(222, 106, 106, 0.6) !important;
  border-radius: 4px;
  border: 2px dashed #B93737;
  padding: 6px 6px 6px 6px;
  margin: 3px 3px 3px 3px;
  transition: 0.5s ease;
}

img.moarTLSUnsecure {
  transform:rotate(180deg);
  transition: transform 0.5s ease;
}