html { width:400px; height:200px;}
body { padding: 4px; margin: 2px; }
h1 { text-align: center; padding: 2px; margin: 0px; }
a { font-family: Verdana; font-size:large; text-decoration:none; }
a:hover { text-decoration: underline }
a:focus { text-decoration: underline; border: none; }
li { white-space: nowrap; text-overflow: ellipsis; cursor: pointer; min-height: 16px; }
ol { padding-left: 2px; list-style: inside decimal; }
.isHTTPSyes { color: #2CB144; list-style-image:url('images/HTTPSyes.png'); }
.isHTTPSno { color: #E04343; list-style-image:url('images/HTTPSno.png'); }
.isHSTS { font-weight: bold; list-style-image:url('images/HSTSyes.png'); }
.pageIsHSTS:before { content: url('images/IsHSTS.png'); padding-right: 5px; }
.pageIsHTTPS:before { content: url('images/IsHTTPS.png'); padding-right: 5px; }
.pageCanUpgrade:before { content: url('images/HTTPSyes.png'); padding-right: 5px; }
a.pageCannotUpgrade { color: black; cursor: default; text-decoration:none; }
.pageCannotUpgrade:before { content: url('images/HTTPSno.png'); padding-right: 5px; }

#divFooter { width:100%; margin-top:20px; text-align:right; -webkit-user-select: none;}
#lnkTips { color: grey; font-size: xx-small; text-align: right; margin-right: 10px; }
#lnkUnmark { color: blue; font-size: xx-small; text-align: right; cursor: pointer; margin-right: 10px; }
#lblVersion { width: 100%; color: blue; font-size: xx-small; text-align: right; cursor: pointer; }
